{% set content_blocks = build_lead(page.rawmarkdown, '---') %}
{% set backgroundColor = page.header.colour|default('blue-alt') %}
{% set bannerIcon = page.header.icon|default(null) %}

<div class="mod-category mod-category--bg-{{ backgroundColor }}">
  <div class="mod-category__content">
    {% if bannerIcon %}
    <div class="mod-category__band">
      <i class="fa {{ "fa-#{bannerIcon}" }} fa-fw"></i>
    </div>
    {% endif %}
    <div class="mod-category__inner">
      <h2 class="mod-category__header">{{ page.title }}</h2>
      {% if content_blocks[0] %}
      <p class="mod-category__lead">{{ content_blocks[0] }}</p>
      {% endif %}
      {{ content_blocks[1] }}
    </div>
  </div>
</div>
